<br> <br>

<div class="container-principal">

<div class="sub-content">

  <div>
    <div class="card" >

      <div class="card-body">
        <div style=" text-align-last: center;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" style="color: #fcba03;" fill="currentColor"
                    class="bi bi-gift" viewBox="0 0 16 16">
                    <path
                      d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                  </svg>
                  <h5>ENVÍO GRATIS</h5>
        </div>



      </div>
    </div>
  </div>



  <div>
    <div class="card" >

      <div class="card-body">
        <div style=" text-align-last: center;">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-gift" style="color: #fcba03;"
      viewBox="0 0 16 16">
      <path
        d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z" />
    </svg>
          <h5>TARJETA DE
          REGALO ESPECIAL</h5>
        </div>
      </div>
    </div>
  </div>

  <div>
      <div class="card">

        <div class="card-body">
          <div style=" text-align-last: center;">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-counterclockwise" style="color: #fcba03;"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
          </svg>
          <h5>REEMBOLSO</h5>
          </div>
        </div>
      </div>
  </div>
  <div>


    <div class="card">

      <div class="card-body">
        <div style=" text-align-last: center;">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" style="color: #fcba03;"
          class="bi bi-life-preserver" viewBox="0 0 16 16">
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm6.43-5.228a7.025 7.025 0 0 1-3.658 3.658l-1.115-2.788a4.015 4.015 0 0 0 1.985-1.985l2.788 1.115zM5.228 14.43a7.025 7.025 0 0 1-3.658-3.658l2.788-1.115a4.015 4.015 0 0 0 1.985 1.985L5.228 14.43zm9.202-9.202l-2.788 1.115a4.015 4.015 0 0 0-1.985-1.985l1.115-2.788a7.025 7.025 0 0 1 3.658 3.658zm-8.087-.87a4.015 4.015 0 0 0-1.985 1.985L1.57 5.228A7.025 7.025 0 0 1 5.228 1.57l1.115 2.788zM8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
        </svg>
        <h5>
          SOPORTE DE CALIDAD
         </h5>
        </div>
      </div>
    </div>



  </div>

</div>


<br> <br>
<div class="sub-content">





  <div class="flex">
    <img src="https://logo.clearbit.com/505games.com">
  </div>
  <div class="flex">
    <img src="//logo.clearbit.com/activisionblizzard.com">

  </div>
  <div class="flex">
    <img src="https://logo.clearbit.com/nintendo.com">


  </div>

  <div class="flex">
    <img src="https://logo.clearbit.com/paradoxplaza.com">
  </div>
  <div class="flex">
    <img src="//logo.clearbit.com/capcom.com">

  </div>
  <div class="flex">
    <img src="https://logo.clearbit.com/annapurnainteractive.com">


  </div>
  <div class="flex">
    <img src="https://logo.clearbit.com/xbox.com">
  </div>
  <div class="flex">
    <img src="//logo.clearbit.com/humblebundle.com">

  </div>


</div>

</div>




<br> <br>

<div  style="background-color: #8080806b; ">
    <div class="row container-principal " style="    padding-bottom: 1%;">
       <div class="col ">
         <div style="    text-align-last: center;">
           <img src="assets/images/logo.png">
         </div>
         <div>
              <span>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet clita kasdamet.
              </span>
         </div>

       </div>
       <div class="col">
          <div class="row" style="padding-top: 10%;">
             <div class="col">
              <div>
                TOYS IN THE BOX
              </div>

              <div>
                <ul class="">
                  <li class="">¿QUÉ HACEMOS?</li>
                  <li class="">NUESTROS PRODUCTOS</li>
                  <li class="">ÚLTIMAS PUBLICACIONES</li>
                  <li class="">PREGUNTAS FRECUENTES</li>
                </ul>
              </div>
             </div>
            <div class="col">

              <div>
                REDES SOCIALES
              </div>

              <div>
                <ul class="">
                  <li class="">Twitter</li>
                  <li class="">Facebook</li>
                  <li class="">Linkedin</li>
                  <li class="">Pinterest</li>
                </ul>
              </div>
            </div>
            <div class="col">


                            <div>
                              <ul class="">
                                <li class="">MI PERFIL</li>
                                <li class="">MI CUENTA</li>
                                <li class="">CHECKOUT</li>
                                <li class="">RASTREO DE ORDEN</li>
                                  <li class="">AYUDA Y SOPORTE</li>
                              </ul>
                            </div>
            </div>
          </div>
       </div>
    </div>


</div>







<div style="background-color: #fcba03;">
<footer class="footer">
  <div class="row" style="justify-content: center;">

       <a> CopyRight de Maria Ibarra</a>

  <br>
    <br>

  </div>
</footer>

</div>

