

<div class="toolbar" role="banner">


    <div class="spacer"></div>



    <div class="row" style="    width: 50%; position: absolute; margin-left: 50%; "   >
      <div class='column' style="margin-right: 5%;">
  <a aria-label="Lista de deseos" target="_blank" rel="noopener" >Lista de desesos</a>
      </div>
        <div class='column' style="margin-right: 5%;">



        <a aria-label="Lista de deseos" target="_blank" rel="noopener" style="vertical-align: -webkit-baseline-middle;" >Acerca de Nosotros</a>
        </div>
          <div class='column'>
          <a aria-label="Lista de deseos" target="_blank" rel="noopener" style="vertical-align: -webkit-baseline-middle;">Contactanos</a>
          </div>

    </div>

</div>

<router-outlet></router-outlet>
